body {
    margin: 0px;
    background-color: #CCC;
}

label {
    margin: 1rem 0 0.5rem;
    display: block;
}

input {
    display: block;
}

.btn-creator {
    padding: 30px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}

#controles {
    padding: 1rem;
    border-radius: 4px;
    font-family: monospace;
    font-size: .875rem;
    background-color: #EEE;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
    margin-top: 40px;
    font-family: monospace;
    color: #333;
    display: flex;
    flex-direction: column;
}

.css span {
    margin-bottom: 0.5rem;
    display: block;
}

.btn {
    cursor: pointer;
}